DB_NAME=user_db
DB_USER=root
DB_PASSWORD= 'S3/jBhGC3(P8RiV.'
DB_HOST='localhost'
DB_PORT=3306

API_USER=admin
API_PASSWORD=SecurePass123!

DJANGO_SECRET_KEY = 'django-insecure-5omd$3yl(+mi@kuka+0e2duzu4%dwv$bs$satd86!cm&z43@3w'

EXTERNAL_API_URL=https://jsonplaceholder.typicode.com/users